h1 { 
    padding-left: 15%;              
    color: white;    
    font-size: auto;            
  } 

  #my_custom_element {
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.name {
    margin: auto;
    height: 100px;
    width: 300px;
   background-color: red;
   border-radius: 10px; 
}

.calculator{
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

.background_image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  z-index: -1;
  width: 100em;
}

body{
    background-size: cover;
    background-color: #0f0f0f;
}

.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 100px;                 /* задаем ширину кнопки */
    height: 100px;                /* задаем высоту кнопки */
    border-radius: 10%;          /* округляем кнопку */
    border: none;               /* отключаем обводку */
    background: #0f0f0f;         /* задаем серый цвет кнопки */
    color: white;                /* задаем белый цвет текста внутри кнопки */
    font-size: 4rem;           /* увеличим размер шрифта */
    font-family: 'Times New Roman', Times, serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  .my-btn.btn-theme {
    font-size: 20px;
    position: fixed;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 10px;
    background-color: red;
    padding: 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
  }

  .my-btn.btn_theme:hover{
    background-color: #f04c41;
  }
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #272727; /* цвет кнопки оранжевый */
  }

  .my-btn.primary:hover {
    background-color: lightslategray;
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #f1f1f1; /* цвет кнопки сервый */
    color: #0f0f0f;
  }

  .my-btn.my-btn.secondary:hover{
    background-color: gray;
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 210px;          /* сделаем кнопку шире других */
    border-radius: 10px;   /* подкорректируем округлость */
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 420px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(73, 73, 73); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #ffffff;              /* цвет текста белый */
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .my-btn.btn-github{
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 30px;
    background-color: red;
    width: auto;
    max-width: 100%;
    height: auto;
  }


  body {
    font-family: roboto, sans-serif;
    font-size: 15px;
  }
  
  .info {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: #0f0f0f;
    padding: 10px 25px;
  }
  
  .info__switch {
    display: none;
  }
  
  .info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }
  
  .info__switch:checked~.info__body {
    max-height: 100px;
  }
  
  .info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  
  .info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
  }
  
  .info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: white;
    font-weight: normal;
    cursor: pointer;
    width: 800px;
  }
  
  .info__headline:hover {
    text-decoration: underline;
  }

  .purpose {
    padding-top: 10px;
    color: white;
  }